<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="CRUD Nodejs Mysql Web App" />
    <!-- Agregado: Meta descripción -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- Agregado: Meta viewport -->
    <title>Nodejs Mysql CRUD</title>
    <!-- NAVIGATION -->
    <link
      rel="stylesheet"
      href="https://bootswatch.com/5/lux/bootstrap.min.css"
    />
    <link rel="stylesheet" href="/styles/index.css" />
    <!-- Agregado: Estilos CSS -->
  </head>
  <style>
    h2 {
      color: white;
    }
  </style>
  <body>
    <!-- navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
        <a class="navbar-brand" href="/">CRUD Nodejs Mysql</a>
       <!--<a href="/create" class="btn btn-primary">Crear Alumno</a>--> 
      </div>
    </nav>
  </body>
</html>
